@import "header.css";
@import "footer.css";
@import "responsive.css";

/* Main Styling */

* {
   margin: 0;
 }

html {
   min-height: 100%;
 }

body {
   min-height: 100%;
 }

  /* Grid Container */
.main_container {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  grid-template-columns: 24% 24% 24% 23% 5%;
  grid-template-rows: 120px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

  /* About the Author Container*/
.author {
  display: flex; 
  flex-flow: row wrap;
  background-color: #557A95;
  grid-area: 1 / 1 / 3 / 5;
}

.author_head {
  font-family: 'Black Ops One', cursive;
  font-size: 24px;
  padding: 10px;
  max-width: auto;
  text-align: Center;
}

.author_info {
  display: flex;
}

.author_card {
  background-color: #D3D3D3;
  border-radius: 12px;
  max-height: 90%;
  width: 35%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.card_name {
  background-color: #D3D3D3;
  font-family: 'Black Ops One', cursive;
  font-size: 4vw;
  max-width: 100%;
  max-height: 15%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.card_pic {
  width: 100%;
  max-height: 100%;
  margin: 10%;
  text-align: center;
  align-items: center;
  align-content: center;
}

.card_pic > img {
    max-width:100%;
    max-height:100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }

figcaption {
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
}

.author_bio {
  max-width: 60%;
  max-height: 90%;
  padding: 25px;
  background-color: #D3D3D3;
  font-family: 'Black Ops One', cursive;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-right: 12px;
}

  /*BLog Post stylings*/
.bp {
  background-color: #7395AE;
  grid-area: 3 / 1 / 5 / 6;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.posts {
  background-color: #D3D3D3;
  border-radius: 12px;
  width: 95%;
  text-align: center;
  margin: 20px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 10px;
}

.posts > h3 {
  font-family: 'Black Ops One', cursive;
}

.posts > p {
  font-family: 'Oswald', sans-serif;
}

 /*Social Media Stylings*/
.social {
  background-color: #D3D3D3;
  grid-area: 1 / 5 / 3 / 6;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.smedia > img {
  max-height: 100%;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
