/* Responsive Styling */
  /* Tablet Break point needed prior to 600px */
@media only screen and (min-width: 415px) and (max-width: 900px) {
* {
    max-width: 100%;
}

.author_card {
margin-bottom: 30px;
margin-left: 12px;
margin-right: 12px;
}

.author_bio {
  font-size: 13.5px;
}

.social {
  padding: 2px;
}

}

/* Mobile - Breakpoint needed before 320px */
@media only screen and (max-width: 414px) {
* {
    max-width: 100%;
 }

 .nav_h2 {
   font-size: 10px;
   text-align: center;
 }

.wantto > h3 {
  font-size: 8vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5px;
}

li {
  margin-right: 25px;
}

.git {
  font-size: 10px;
}

.arr {
  font-size: 10px;
}

.posts {
  min-width: 80%;
  max-height: 50%;
  margin: 1%;
}

.author_bio {
  font-size: 10px;

}

.author_card {
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #D3D3D3;
  border-radius: 12px;
  max-height: 90%;
  width: 35%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.social {
  padding: 0;
}

.wantto {
  font-size:  20px;
  display: flex;
  flex-wrap: wrap;
}

}

  /* Computer Break point needed at 901px*/
@media screen and (min-width: 901px) and (max-width: 1023px) {
* {
    max-width: 100%;
 }

.author_card {
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.social {
  padding: 5px;
}
}

 /* breakpoint for a big screen */
@media screen and (min-width: 1024px) {
* {
    max-width: 100%;
 }

.author_card {
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.author_bio {
  font-size: 20px;
}

.social {
  padding: 6px;
}
}
